/.build*/
/build/
/st
/st_memprofile
/st_test
/unit_tests
/unit_tests_group_*
/test_suite
/test_suite_group_*
/test_suite_prod_parser_group_*
/main_fuzz
/result
/result-*
/dist/
__pycache__/
.codegraph/
/plt_tests
/test_suite_prod_parser
/third_party/plt/plt_unit_tests
/third_party/plt/plt_wayland_integration_tests
/toml_dump
